@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --first-color:#172937;
    --title-color:#344f8b;
    --text-color:hsl(0, 0%, 35%);
    --body-color:hsl(0, 0%, 95%);
    --container-color:hsl(0, 0%, 100%);
}



body{
    font-family: "roboto", sans-serif;
    background-color: var(--body-color);
    color: var(--text-color);
}
img{    
    display: 100%;
    height: auto;
}
.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}
.card__article{
    position: relative;
    overflow: hidden;
}
.card__img{
    width: 328px;
    border-radius: 1.5rem;
}
.card__data{
    width: 265px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: relative;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: inline 1.1rem; ;
     opacity: 0; 
    transition: opacity 1s;
}
.card--description{
    display: block;
    font-size: 50px;
    margin-bottom: .25rem;
}
.card__title{
    font: size 50px;
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}
.card__button{
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--first-color);
}
.card__button:hover{
    text-decoration: underline;

}
.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .1s;
}
.card__article:hover{
    animation: remove-overflow 2s forwards;
}
.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: romove-data 1s forwards;
}


@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
    overflow: initial;
    pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}